@keyframes hue {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}


body,
html,
nav {
    background-color: rgb(251, 251, 251) !important;
    color: black !important;

}

.frosted {
    width: 92%;
    height: 85vh;
    margin-left: 5%;
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* From https://css.glass */
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.4);
    margin-top: -40%;
    font-family: 'Cabin', sans-serif;
    font-weight: 800;
    z-index: 6;
    background: #E0EAFC;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: black !important;
}


.animations {
    transition: 1s ease-in-out all;
    animation: 800ms linear .2s hue;
}

.about {
    border: 2px solid red;
    margin-top: 20%;
    height: 100%;
    width: 90%;
}



/*! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
    overflow: hidden;
}

nav {
    padding-left: 3% !important;
    border-bottom: transparent;
}

.navbar-nav {
    margin-left: 75%;
}

.navbar-brand {
    color: black !important;
}

.nav-item {
    color: black !important;
}

.nav-item:hover,
.navbar-brand:hover {
    color: #71a3ff !important;
    transition: 0.1s ease-in-out all;
}



.nav-item {
    float: right !important;
}

html.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.has-scroll-smooth body {
    overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
    min-height: 100vh;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
    height: 100vh;
    display: inline-block;
    white-space: nowrap;
}

[data-scroll-direction="horizontal"] [data-scroll-section] {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    height: 100%;
}

.c-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 11px;
    height: 100%;
    transform-origin: center right;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
}

.c-scrollbar:hover {
    transform: scaleX(1.45);
}

.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
    opacity: 1;
}

[data-scroll-direction="horizontal"] .c-scrollbar {
    width: 100%;
    height: 10px;
    top: auto;
    bottom: 0;
    transform: scaleY(1);
}

[data-scroll-direction="horizontal"] .c-scrollbar:hover {
    transform: scaleY(1.3);
}

.c-scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    width: 7px;
    border-radius: 10px;
    margin: 2px;
    cursor: -webkit-grab;
    cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
    right: auto;
    bottom: 0;
}

.fix {

    margin-top: 2%;
}


h3 {
    font-size: 1.81vw;
    padding: 2%;
    border-radius: 16px;
    width: 80%;
    line-height: 1.5em;

}


.talk {
    margin-top: 30%;
    position: absolute;
}

#resume {

    margin-top: 10vh;
    padding: 3%;
    margin-left: 5%;
    width: 92%;
    height: 30vh;
    background-color: rgba(172, 192, 234, 0.7);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    line-height: 2em;

}

#contact {

    margin-top: 10vh;
    padding: 3%;
    margin-left: 5%;
    width: 92%;
    height: auto;
    background-color: rgb(255, 228, 225);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    line-height: 2em;

}

form {
    border: 1px solid rgba(0, 0, 0, 0.03);
    padding: 2%;
    border-radius: 16px;
}

#about {
    margin-top: 100vh;
    padding: 3%;
    margin-left: 5%;
    width: 92%;
    height: auto;
    background-color: rgba(217, 208, 231);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    overflow: hidden;

}

#about h6 {
    font-size: 1.2vw;
    width: 70%;
    margin-top: 2%;
    margin-left: 35% !important;

    width: 60ch;
    height: 28vmin;
    line-height: 2.5em;
}

.fade {
    /* other styles for the card element */
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}


.fade.fade-in {
    opacity: 1;
}

.fade.fade-out {
    opacity: 0;
}

.resume {
    display: block;
    margin-top: 3% !important;
    margin: 0 auto;
}

#image {
    float: left;
    margin-top: 2.5%;
    margin-left: 2%;
    width: 33vmin;
    height: 33vmin;
    background-image: url('assets/harman.jpg');
    background-size: cover;
    background-repeat: no-repeat;



    border-radius: 16px;
    box-shadow: -10px -10px 5px #dba280;
    position: relative;
}

.container {
    width: 50%;
    padding: 30px 30px 50px;
    float: left;
    border-radius: 16px;


}

.details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.bar {
    position: relative;

    border: 2px solid #dba280;

    border-radius: 20px;

}

.bar div {
    position: relative;
    width: 0;
    height: 9px;
    border-radius: 10px;
    background-color: #dba280;
}

.skills:not(:last-child) {
    margin-bottom: 30px;
}

#html-bar {
    width: 95%;


}

#css-bar {
    width: 93%;
}

#js-bar {
    width: 85%;
}

#jQuery-bar {
    width: 70%;
}

#react-bar {
    width: 40%;
}

#django-bar {
    width: 80%;
}

#sql-bar {
    width: 95%;
}

#php-bar {
    width: 85%;
}

#node-bar {
    width: 80%;
}

#python-bar {
    width: 80%;
}

#java-bar {
    width: 80%;
}

#sub a {
    text-decoration: none;

}

.submit {
    display: block;
    margin-top: 3% !important;
    margin: 0 auto;
}

footer {
    border: none !important;
    margin-top: 4% !important;
}

